<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUJU6B4WU8RNdFcXQ18UcDhpo69sQEYWA</string>
	<key>GCM_SENDER_ID</key>
	<string>868767924703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.just.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>just-9404a</string>
	<key>STORAGE_BUCKET</key>
	<string>just-9404a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868767924703:ios:03d1e837b7beb2f24b846a</string>
</dict>
</plist>